body {
	display: none;
	font-family: "Open Sans Hebrew",Arial,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	direction: rtl;
	background: none;
}
input,
textarea,
* {
	font-family: "Open Sans Hebrew",Arial,Helvetica,sans-serif;
}
.body_bg {
	position: fixed;
	width: 100%;
	z-index: -1;
}

#first-block, #second-block, #third-block, #fourth-block, #contact-block {
	text-align:center;
	padding:3.5em 0;
}
#carousel {
	text-align:center;
	background:#e5e5e5;
	direction: ltr;
}
#carousel img {
	width: 100%;
}
.owl-theme .owl-controls .owl-buttons div {
	min-width: 50px;
}
#first-block {
	background:#fff;
}
#second-block {
	background:#2db4a2;
}
#third-block {
	background:#fff;
}
#fourth-block {
	background:#e5e5e5;
	direction: ltr;
}
@media screen and (max-width: 800px) {
  .right {
  float:none;
  }
}



/* ------[Our Code]------ */
.pikkonet_logo {
	padding-top: 21px;
}
.header_nav {
	border-bottom: 1px solid #ccc;
	background: #252525;
}
.top_bar {
	margin-top: 28px;
	height: 86px;
}
.top-nav ul {
	border-top: 1px solid #30b4a6;
}
.top-nav li {
	height: 100%;
	position: relative;
}
.top-nav li a:hover, .aside-nav li a:hover {
	color: #24b1a0;
}
.top-nav li:hover:before {
	content: "";
	position: absolute;
	top: -5px;
	right: 40%;
	border: 10px solid rgba(255, 255, 255, 0);
	border-top: 10px solid #24b1a0;
}
/*#first-block, #second-block, #third-block, #fourth-block {
	padding: 40px 0 130px 0;
}*/

h3.why_pikkonet {
	position: relative;
	top: 19px;
	background: #fff;
	max-width: 290px;
	margin: 0 auto;
	color: #2db4a2;
	font-size: 30px;
	width: auto;
}
.where_to_start h1 {
	position: relative;
	top: 19px;
	background: #2db4a2;
	max-width: 290px;
	margin: 0 auto;
	color: #252525;
	font-size: 30px;
	width: auto;
}
.anwers {
	border-top: 1px solid #e1e1e1;
	padding: 37px 0;
	font-size: 20px;
	line-height: 30px;
}
#second-block .where_to_start .anwers {
	color: #fff;
}
img.strengths {
	height: 107px;
	width: 137px;
}
.strengths h2 {
	font-size: 25px;
	line-height: 30px
}
p.strengths_p {
	font-size: 15px;
	line-height: 20px
}
.our_works div.item img {
	height: 211px;
	width: auto;
}
div.right_div {
	width: 69%;
	display: inline-block;
	vertical-align: top;
}
div.left_div {
	display: inline-block;
}
div.right_div h2 {
	text-align: right;
	font-size: 18px;
	line-height: 30px;
}
div.right_div p {
	font-size: 15px;
	line-height: 20px;
	color: #252525;
	text-align: right;
	margin-bottom: 30px;
}
#fourth-block {
	padding: 2.5em 0;
	background: #e1e1e1;
}
#second-block .where_to_start {
	width: 100%;
}
div.text_process.pos_0 {
		border-bottom: 10px solid #d9cc3c;
}
div.text_process.pos_1 {
		border-bottom: 10px solid #d9cc3c;
}
div.text_process.pos_2 {
		border-bottom: 10px solid #d9cc3c;
}
div.text_process {
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	padding: 0 0.625em;
	left: 0;
	overflow: hidden;
	color: rgba(255, 255, 255, 0);
	-webkit-transition: height 0.5s, color 2s, background 0.5s;                  
    -moz-transition: height 0.5s, color 2s, background 0.5s;                 
    -o-transition: height 0.5s, color 2s, background 0.5s;   
    -ms-transition: height 0.5s, color 2s, background 0.5s;
    transition: height 0.5s, color 2s, background 0.5s;
}
#second-block .where_to_start .bg_image:hover .text_process {
	height: 100%;
	color: #fff;
	background: rgba(0, 0, 0, 0.65); 
	-webkit-transition: height 0.5s, color 2s, background 0.5s;                  
    -moz-transition: height 0.5s, color 2s, background 0.5s;                 
    -o-transition: height 0.5s, color 2s, background 0.5s;   
    -ms-transition: height 0.5s, color 2s, background 0.5s;
    transition: height 0.5s, color 2s, background 0.5s;
}
#second-block .where_to_start .bg_image h3 {
	width: 100%;
	margin-bottom: 30px;
	font-size: 72px;
	color: #252525;
}
div.text_process a {
	display: inline-block;
	font-size: 80px;
	color: rgba(255, 255, 255, 0);
	border: 2px solid rgba(255, 255, 255, 0);
	width: 80px;
	height: 80px;
	margin: 0 auto;
	line-height: 74px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	margin: 34px 0 27px;
	font-weight: lighter;
	-webkit-transition: color 2s, border 2s;
	-moz-transition: color 2s, border 2s;
	-o-transition: color 2s, border 2s;
	-ms-transition: color 2s, border 2s;
	transition: color 2s, border 2s;
}
#second-block .where_to_start .bg_image:hover .text_process a {
	color: #fff;
	border: 2px solid #fff;
	-webkit-transition: color 2s, border 2s;                  
    -moz-transition: color 2s, border 2s;               
    -o-transition: color 2s, border 2s; 
    -ms-transition: color 2s, border 2s; 
    transition: color 2s, border 2s; 
}
#second-block .where_to_start .bg_image:hover h3 {
	color: #fff;
	-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}
#second-block .where_to_start .bg_image span {
	width: 60px;
	height: 60px;
	background: #5abfb2;
	display: block;
	margin: 0 auto;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	font-size: 35px;
	line-height: 58px;
	-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}
#second-block .where_to_start .bg_image:hover span {
	background: #d9cc3c;
	-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}
div.wrap_image {
	position: relative;
	width: 94%;
	margin: 0 auto;
	max-width: 311px;
}
div.wrap_image img {
	width: 100%;
}
div.text_process p {
	width: 80%;
	margin: 0 auto;
}
#second-block .where_to_start .margin {
	width: 90%;
	margin: 0 auto;
}
#social-block {
	background: rgba(217, 204, 60, 0.35);
	height: 315px;
}
#social-block .line {
	height: 100%;
}
#social-block .line div.social_links {
	max-width: 382px;
	margin: 0 auto;
	width: auto;
	text-align: center;
}
#social-block .line div a {
	display: inline-block;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	margin: 0 12px;
	text-align: center;
}
#social-block .line div:hover a {
	background: #707070;
	-webkit-transition: background 0.2s;                  
    -moz-transition: background 0.2s;                 
    -o-transition: background 0.2s;   
    -ms-transition: background 0.2s;
    transition: background 0.2s;
}
#social-block .line div:hover a.pos_0:hover,
#social-block .line a.pos_0 {
	background: #365f9f;
	-webkit-transition: background 0.2s;                  
    -moz-transition: background 0.2s;                 
    -o-transition: background 0.2s;   
    -ms-transition: background 0.2s;
    transition: background 0.2s;
}
#social-block .line div:hover a.pos_1:hover,
#social-block .line a.pos_1 {
	background: #2aa9df;
	-webkit-transition: background 0.2s;                  
    -moz-transition: background 0.2s;                 
    -o-transition: background 0.2s;   
    -ms-transition: background 0.2s;
    transition: background 0.2s;
}
#social-block .line div:hover a.pos_2:hover,
#social-block .line a.pos_2 {
	background: #db5342;
	-webkit-transition: background 0.2s;                  
    -moz-transition: background 0.2s;                 
    -o-transition: background 0.2s;   
    -ms-transition: background 0.2s;
    transition: background 0.2s;
}
#social-block h3 {
	font-size: 30px;
	line-height: 50px;
	text-align: center;
	padding: 40px 0 50px;
	margin: 0;
}
#mc_embed_signup .mc-field-group input:focus {
	background: #fff;
	outline: none;
	-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}
/* contact_block */
#contact-block {
	text-align: center;
	background: rgba(0, 0, 0, 0.65);
	padding: 40px 0;
}
#contact-block h2 b {
	color: #FFF;
}
#contact-block h2 {
	font-size: 50px;
	line-height: 50px;
	color: #2DB4A2;
}
#contact-block p.contact_desc {
	color: #FFF;
	margin: 0 auto;
	font-size: 20px;
	line-height: 30px;
	width: auto;
	max-width: 824px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.contact_heading {
	color: #2DB4A2;
	font-size: 30px;
	line-height: 50px;
	margin-bottom: 30px;
}
/* end contact_block */

/* mailchimp form */
#contact-block .line {
	padding: 0;
}
#mc_embed_signup{
	clear:left;
	font-size :14px;
}
#mc_embed_signup form {
	text-align: center;
	padding: 0;
}
#mc_embed_signup .mc-field-group {
	display: inline-block;
	width: 300px;
	height: 60px;
	padding: 0;
	float: none;
	min-height: 0;
	margin: 10px;
}
#mc_embed_signup .mc-field-group input {
	height: 100%;
	padding: 0;
	color: #252525;
	font-size: 21px;
	line-height: 60px;
	border: none;
	background: rgba(255, 255, 255, 0.75);
	-webkit-transition: all .25s ease;
   -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
     -o-transition: all .25s ease;
        transition: all .25s ease;
}
#mc_embed_signup .mc-field-group input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #252525;
}
#mc_embed_signup .mc-field-group input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #252525;
}
#mc_embed_signup .mc-field-group input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #252525;
}
#mc_embed_signup .mc-field-group input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #252525;
}
#mc_embed_signup .button_wrapper {
	max-width: 485px;
	width: auto;
	height: 65px;
	margin: 45px auto 10px;
	position: relative;
}
#mc_embed_signup .button_wrapper:after {
	font-family: FontAwesome;
	content: "\f053";
	color: #FFF;
	font-size: 22px;
	width: 43px;
	height: 43px;
	border: 1px solid #FFF;
	display: inline-block;
	line-height: 43px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	top: 12px;
	left: 12%;
}
#mc_embed_signup .button {
	width: 100%;
	height: 100%;
	background: #2DB4A2;
	margin: 0;
	padding: 0px 0px 0px 43px;
	border-radius: 0;
	line-height: 65px;
	font-weight: normal;
	font-size: 30px;
}
#mc_embed_signup .button,
#mc_embed_signup .button:hover {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
input#mc-embedded-subscribe:focus {
	border: none;
	outline: none;
}
/* end mailchimp form */

/*FOOTER*/
footer {
	background:#252525;
	padding:3.5em 0;
	position: relative;
}
footer .line .s-12.l-6 p {
	color: #FFF;
	line-height: 35px;
	height: 35px;
	vertical-align: middle;
}
footer div.powerd_by p img {
	margin: 0 12px;
	position: relative;
	top: 12px;
}
footer div.powerd_by {
	float: none;
	clear: both;
	width: auto;
	text-align: left;
}
footer div.powerd_by p {
	color: #FFF;
	line-height: 35px;
	height: 35px;
	vertical-align: middle;
}
footer ul.s-12.l-6 {
	padding: 0;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
footer ul.s-12.l-6 li {
	list-style: none;
	color: #FFF;
	font-size: 15px;
	line-height: 26px;
}
footer ul.s-12.l-6:after {
	content: "";
	height: 0;
	width: 140%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.17);
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
}
/*END FOOTER*/

/* ------[colors]------ */
.main_color {
	color: #24b1a0;
}
h3.pos_0 {
	color: #2db4a5;
}
h3.pos_1 {
	color: #dacb3e;
}
h3.pos_2 {
	color: #2db4a3;
}