body {
	display: none;
	font-family: "Open Sans Hebrew",Arial,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
	direction: rtl;
	background: none;
}
input,
textarea,
* {
	font-family: "Open Sans Hebrew",Arial,Helvetica,sans-serif;
}
.body_bg {
	position: fixed;
	width: 100%;
	z-index: -1;
}

#first-block, #second-block, #third-block, #fourth-block, #contact-block {
text-align:center;
padding:3.5em 0;
}
#carousel {
	text-align:center;
	background:#e5e5e5;
	direction: ltr;
}
#first-block {
background:#fff;
}
#second-block {
background:#fff;
}
#third-block {
background:#fff;
}
#fourth-block {
	background:#e5e5e5;
	direction: ltr;
}
footer {
background:#fff;
padding:3.5em 0;
}
@media screen and (max-width: 800px) {
  .right {
  float:none;
  }
}



/* ------[Our Code]------ */
.pikkonet_logo {
	margin-top: 21px;
}
.header_nav {
	border-bottom: 1px solid #ccc;
	background: #252525;
}
.top_bar {
	margin-top: 28px;
	height: 86px;
}
.top-nav ul {
	height: 100%;
	border-top: 1px solid #30b4a6;
}
.top-nav li {
	height: 100%;
	position: relative;
}
.top_bar ul.right li a {
	padding: 31px;
}
.top-nav li a:hover, .aside-nav li a:hover {
	background: none;
	color: #24b1a0;
}
.top-nav li:hover:before {
	content: "";
	position: absolute;
	top: -5px;
	right: 40%;
	border: 10px solid rgba(255, 255, 255, 0);
	border-top: 10px solid #24b1a0;
}
/*#first-block, #second-block, #third-block, #fourth-block {
	padding: 40px 0 130px 0;
}*/

h3.why_pikkonet,
.where_to_start h1 {
	position: relative;
	top: 19px;
	background: #fff;
	width: 290px;
	margin: 0 auto;
	color: #2db4a2;
	font-size: 30px;
}
.anwers {
	border-top: 1px solid #e1e1e1;
	padding: 37px 0;
	font-size: 20px;
	line-height: 30px;
}
img.strengths {
	height: 107px;
	width: 137px;
}
.strengths h2 {
	font-size: 25px;
	line-height: 30px
}
p.strengths_p {
	font-size: 15px;
	line-height: 20px
}
.our_works div.item img {
	height: 211px;
	width: auto;
}
div.right_div {
	width: 69%;
	display: inline-block;
	vertical-align: top;
}
div.left_div {
	display: inline-block;
}
div.right_div h2 {
	text-align: right;
	font-size: 18px;
	line-height: 30px;
}
div.right_div p {
	font-size: 15px;
	line-height: 20px;
	color: #252525;
	text-align: right;
	margin-bottom: 30px;
}
#fourth-block {
	padding: 2.5em 0;
	background: #e1e1e1;
}
#second-block .where_to_start {
	width: 100%;
}
div.text_process.pos_0 {
		border-bottom: 10px solid #bf0049;
}
div.text_process.pos_1 {
		border-bottom: 10px solid #d9cc3c;
}
div.text_process.pos_2 {
		border-bottom: 10px solid #00ada7;
}
div.text_process {
	position: absolute;
	top: 0;
	height: 0;
	width: 100%;
	padding: 0 0.625em;
	left: 0;
	overflow: hidden;
	color: rgba(255, 255, 255, 0);
	-webkit-transition: height 0.5s, color 2s, background 0.5s;                  
    -moz-transition: height 0.5s, color 2s, background 0.5s;                 
    -o-transition: height 0.5s, color 2s, background 0.5s;   
    -ms-transition: height 0.5s, color 2s, background 0.5s;
    transition: height 0.5s, color 2s, background 0.5s;
}
#second-block .where_to_start .bg_image .wrap_image:hover .text_process {
	height: 100%;
	color: #fff;
	background: rgba(0, 0, 0, 0.65); 
	-webkit-transition: height 0.5s, color 2s, background 0.5s;                  
    -moz-transition: height 0.5s, color 2s, background 0.5s;                 
    -o-transition: height 0.5s, color 2s, background 0.5s;   
    -ms-transition: height 0.5s, color 2s, background 0.5s;
    transition: height 0.5s, color 2s, background 0.5s;
}
#second-block .where_to_start .bg_image h3 {
	width: 100%;
	margin-bottom: 30px;
}
div.text_process a {
	display: inline-block;
	font-size: 80px;
	color: rgba(255, 255, 255, 0);
	border: 2px solid rgba(255, 255, 255, 0);
	width: 80px;
	height: 80px;
	margin: 0 auto;
	line-height: 74px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	border-radius: 90px;
	margin: 34px 0 27px;
	font-weight: lighter;
	-webkit-transition: color 2s, border 2s;
	-moz-transition: color 2s, border 2s;
	-o-transition: color 2s, border 2s;
	-ms-transition: color 2s, border 2s;
	transition: color 2s, border 2s;
}
#second-block .where_to_start .bg_image .wrap_image:hover .text_process a {
	color: #fff;
	border: 2px solid #fff;
	-webkit-transition: color 2s, border 2s;                  
    -moz-transition: color 2s, border 2s;               
    -o-transition: color 2s, border 2s; 
    -ms-transition: color 2s, border 2s; 
    transition: color 2s, border 2s; 
}
div.wrap_image {
	position: relative;
	width: 93%;
	margin: 0 auto;
	max-width: 311px;
}
div.text_process p {
	width: 80%;
	margin: 0 auto;
}
#second-block .where_to_start .margin {
	width: 90%;
	margin: 0 auto;
}
/* contact_block */
#contact-block {
	text-align: center;
	background: rgba(0, 0, 0, 0.65);
	padding: 40px 0;
}
#contact-block h2 b {
	color: #FFF;
}
#contact-block h2 {
	font-size: 50px;
	line-height: 50px;
	color: #2DB4A2;
}
#contact-block p.contact_desc {
	color: #FFF;
	margin: 0 auto;
	font-size: 20px;
	line-height: 30px;
	width: auto;
	max-width: 824px;
	padding-bottom: 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
.contact_heading {
	color: #2DB4A2;
	font-size: 30px;
	line-height: 50px;
}
/* end contact_block */

/* mailchimp form */
#mc_embed_signup{
	clear:left;
	font-size :14px;
}
#mc_embed_signup form {
	text-align: center;
	padding: 0;
}
#mc_embed_signup .mc-field-group {
	display: inline-block;
	width: 305px;
	height: 60px;
	padding: 0;
	float: none;
	min-height: 0;
	margin: 30px 10px 45px;
}
#mc_embed_signup .mc-field-group input {
	height: 100%;
	padding: 0;
	color: #252525;
	font-size: 20px;
	line-height: 60px;
	border: none;
	background: rgba(255, 255, 255, 0.75);
}
#mc_embed_signup .mc-field-group input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #252525;
}
#mc_embed_signup .mc-field-group input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #252525;
}
#mc_embed_signup .mc-field-group input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #252525;
}
#mc_embed_signup .mc-field-group input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #252525;
}
#mc_embed_signup .button_wrapper {
	width: 485px;
	height: 65px;
	margin: 0 auto;
}
#mc_embed_signup .button_wrapper:after {
	font-family: FontAwesome;
	content: "\f053";
}
#mc_embed_signup .button {
	width: 100%;
	height: 100%;
	background: #2DB4A2;
	margin: 0;
	padding: 0;
	border-radius: 0;
	line-height: 65px;
	font-weight: normal;
	font-size: 30px;
}
#mc_embed_signup .button,
#mc_embed_signup .button:hover {
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
/* end mailchimp form */

/* ------[colors]------ */
.main_color {
	color: #24b1a0;
}
h3.pos_0 {
	color: #2db4a5;
}
h3.pos_1 {
	color: #dacb3e;
}
h3.pos_2 {
	color: #2db4a3;
}